div{
    display: flex;
}






























/*
h1{
    width: 100%;
    border: solid;
    text-align: center;

}

#container_button{
    width: 100%;
    border: dashed green;
    text-align: center;
}

#container_button div{
    margin: 2% 40% 2% 40%;
}

#container_button .buton {
    width: 100%;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    transition: .5s;
    letter-spacing: 4px
  }

  #container_button .buton:hover {
    border: none;
    background: #03e9f4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  */